@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-image: url(Image/background\ vector.jpg);
  background-size: cover;
}

nav {
  display: flex;
  background-color: #EAE7AC;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
  padding: 0.2rem 5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.21)
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 0.1rem 2rem;
}

nav div img {
  width: 65px; 
}

nav ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 5px 5px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid #7B6242(0, 0, 0, 0);
}

nav ul li a:hover {
  color: #ffffff;
  border-bottom: 1.5px solid #7B6242;
}

nav ul li a:active{
  color: #000000;
  border-bottom: 1.5px solid #F2F2D3;
}

.menu-icon {
  font-size: 28px;
  display: none;
}

@media only screen and (max-width : 768px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 10px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}
  /*akhir navbar*/

  
  body{
    background-image: url(Image/background\ vector.jpg);
    background-size: cover;
  }
  
  .section{
      margin-right: 200px;
      margin-left: 200px ;
      padding-bottom: 10px;
      padding-top: 10px;
      border-radius: 15px;
      box-shadow: 2px 3px rgba(0, 0, 0, 0.21)
  }

  h2 {
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
  }


.section {
    text-align: left;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 40px;
    margin-top: 4rem;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.21)
}