@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #EAE7AC;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    padding: 0.2rem 5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.21);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0.1rem 2rem;
  }
  
  nav div img {
    width: 65px; 
  }
  
  nav ul li a {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid #7B6242(0, 0, 0, 0);
  }
  
  nav ul li a:hover {
    color: #ffffff;
    border-bottom: 1.5px solid #7B6242;
  }
  
  nav ul li a:active{
    color: #000000;
    border-bottom: 1.5px solid #F2F2D3;
  }
  
  .menu-icon {
    font-size: 28px;
    display: none;
  }
  
  @media only screen and (max-width : 768px) {
    nav {
      flex-wrap: wrap;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li:last-of-type {
      padding-bottom: 10px;
    }
  
    nav ul.hidden {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }
  }  

.section {
    background-color: #EAE7AC;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    border-radius: 20px;
    border-style: hidden;
}

.section img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.section h3{
    margin: 0;
    padding-bottom: 30px;
}

.section p{
    padding-right: 20px ;
}

.navbar{
    padding: 0px;
    margin: 0px;
}